.detailWrap {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0px 15px;
    box-sizing: border-box;
}

.detailHeader {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 30px;
}

/* 프로젝트 정보 구간 */
.projectWrap {
    margin-bottom: 25px;
}
.projectName {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
}
.projectInfo {
    padding: 0px 5px;
}

/* 역할 구간 */
.roleWrap {
    margin-bottom: 25px;
    background-color: #eeeeee;
    padding: 10px 7px;
}
.roleName {
    margin-bottom: 10px;
}
.applicationPeopleList {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

button {
    border: 1px solid #c3c3c3;
    color: #fff;
    border-radius: 5px;
    padding: 5px 10px;
}
.btnWrap {
    display: flex;
}

.btnProfile {
    background-color: #0d198b;
}
.btnProfile:hover {
    background-color: #081055;
}
.btnProfile:active {
    background-color: #97a0f0;
}

.btnAccept {
    background-color: #1981f8;
}
.btnAccept:hover {
    background-color: #0b5db9;;
}
.btnAccept:active {
    background-color: #78b7ff;
}

/* 작성된 댓글 구간 */
.cmtWrap {
    margin-bottom: 15px;
    background-color: #eeeeee;
    padding: 10px 7px;
}
.cmtNameAndDetail {
    margin-bottom: 15px;
    border-bottom: 1px solid #aaaaaa;
}
.txtInfo {
    margin-bottom: 5px;
}

/* 글 등록하기 */
.writeCmt {
    display: flex;
    margin-bottom: 35px;
    height: 60px;
}

textarea {
    width: 80%;
    margin-right: 5px;
}

.btnWrite {
    width: 20%;
    background-color: #871eff;
    color: #ffffff;
    border: 1px solid #ccc;
}
.btnWrite:hover {
    background-color: #4b128d;
}
.btnWrite:active {
    background-color: #ae6ef8;
}

/* 공고마감 */
.btnEnd {
    width: 100%;
    border-radius: 0;
    border: 1px solid #c3c3c3;
    background-color: #ed4141;
    color: #fff;
}

.btnEnd:hover {
    background-color: #e43333;
}

.btnEnd:active {
    background-color: #f48c8c;
}