/* 공통설정 */
html {
    font-family: "맑은 고딕", "Malgun Gothic", 
                나눔고딕, 돋움, Dotum, 
                굴림, Gulim, 
                "Apple SD Gothic Neo", sans-serif;
    font-size: 14px;
}

body {
    margin: 0px;
    display: flex;
    justify-content: center;
}

/* 컨테이너 */
.main_container {
    border: 1px solid black;
    width: 100%;    /* 크기 고정 */
}
@media (max-width: 360px) {
    .main_container {
        border: 1px solid black;
        min-width: 360px;
        max-width: 360px;
    }
}

/* 컨텐츠 부분 */
.main_contents {
    border: 1px solid yellow;
    min-height: 500px;
    margin-top: 50px;   /* 상단 header의 높이만큼 띄우기 */
    margin-bottom: 50px;    /* 하단 nav의 높이만큼 띄우기 */
    
    display: flex;
    justify-content: center;
}